html, body {
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}

#header {
    margin-left: 15px;
}

#header i {
    margin-right: 15px;
}

#navbar {
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

#nav li {
    margin: 0 15px;
}

a {
    color: grey;
}

a:hover {
    color: grey;
    text-decoration: none;
}

sup {
    color: rgb(160, 160, 160);
    vertical-align: super;
    font-size: 16px;
    font-weight: 200;
}

#header {
    font-size: 28px;
    color: black;
}

#container {
    margin-top: 25px;
    margin-left: 25px;
    display: grid;
    grid-template-columns: 450px auto;
}

.noDisplay {
    display: none;
}

#results {
    max-width: 405px;
    margin: 0;
    display: inline;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

.form-control {
    width: 200px;
    margin: 5px 0;
}

label {
    margin-top: 15px;
    margin-bottom: 0;
}

button {
    margin: 10px 0;
}

ul {
    padding: 0;
    max-width: 402px;
}

#curve_chart {
    margin-top: 50px;
    height: 500px;
    grid-column: 2 / 3
}

@media (min-width: 450px) {
    .form-control {
        display: inline;
    }
}

@media (max-width: 1000px) {
    #header {
        margin: 0;
        font-size: 22px;
    }

    #header i {
        margin-right: 0;
    }

    #nav li {
        margin: 5px;
    }

    sup {
        font-size: 12px;
    }

    #container {
        display: block;
        margin: 0; 
    }

    #body {
        margin: 15px;
    }
    
    #curve_chart {
        margin-top: 0;
        height: 350px;
    }
}
